<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Recommendation System</title>
</head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<div class="container">
    <br>
    <h1>Recommendation System</h1>
    <br>
    <form action="#" th:action="@{/recommend}" th:object="${recommendParam}" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default-topic">Topic</span>
            </div>
            <select class="custom-select" id="topic" th:field="*{topic}">
                <option value="crime">Crime</option>
                <option value="thriller">Thriller</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default-Subtopic">Sub Topic</span>
            </div>
            <select class="custom-select" id="subTopic" th:field="*{subTopic}">
                <option value="fiction">Fiction</option>
                <option value="nonfiction">Non-Fiction</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default-city">Word Limit </span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" th:field="*{wordLimit}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default-roleType">Role</span>
            </div>
            <select class="custom-select" id="roleType" th:field="*{roleType}">
                <option value="WRITER">Writer</option>
                <option value="EDITOR">Editor</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default-cost">Cost Per Word (in paise) </span>
            </div>
            <input type="number" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" th:field="*{costPerWord}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default-category">Category </span>
            </div>
            <select class="custom-select" id="category" th:field="*{category}">
                <option value="gold">Gold</option>
                <option value="silver">Silver</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>